<!DOCTYPE html>
<html ng-app="Reader.popup" ng-csp="true">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="Stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel="Stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="Stylesheet" type="text/css" href="css/popup.css"/>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>
    <!--Use JQLite for angular-->
    <script src="lib/jquery/jquery-1.8.3.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="js/analytics.js"></script>
    <script src="js/options.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/popup.js"></script>
  </head>

  <body ng-controller="PopupCtrl">

    <div id="list-view" ng-show="view == views.list">

      <header>
        <a class="pull-right" href="https://www.google.com/reader/">Google Reader™</a>
        <div class="btn-toolbar grn-commands">
          <button class="btn" ng-click="refresh()" ng-disabled="reader.list.loading" title="{{reader.list.refreshTime | date:'shortTime'}}">
            <i class="icon-repeat" ng-class="{rotating: reader.list.loading}"></i>
          </button>

          <div class="btn-group">
            <button class="btn" ng-click="showList(reader == readers.all && readers.unread || readers.all)">
              <span ng-show="reader != readers.all"><i class="icon-home"></i> All items</span>
              <span ng-show="reader == readers.all"><i class="icon-flag"></i> Unread items</span>
            </button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-show="reader != readers.all && reader != readers.unread">
                <a ng-click="showList(readers.unread)"><i class="icon-flag"></i> Unread items</a>
              </li>
              <li ng-show="reader != readers.starred">
                <a ng-click="showList(readers.starred)"><i class="icon-star"></i> Starred items</a>
              </li>
            </ul>
          </div>

          <button class="btn" ng-click="reader.list.markAllAsRead()">
            <i class="icon-ok"></i> Mark all as read
          </button>
        </div>

      </header>

      <div ng-hide="error" class="grn-container ng-cloak" on-load-more="loadMoreItems()" can-load-more="reader.list.canLoadMore()" scroll-nice=".scroll-item">

        <ul class="grn-items-list">
          <li class="grn-list-item scroll-item" ng-class="{read: item.read}" ng-repeat="item in filterItems()">
            <span class="grn-star" ng-class="{'grn-starred': item.starred}" ng-click="rate(item)"></span>
            <div class="grn-click-target" ng-click="showItemView(item)">
              <span class="grn-item-content" title="{{item.title}}">
                <a class="grn-item-title" middle-click="openInChrome(item)">{{item.title}}</a>
                {{item.snippet}}
              </span>
              <span class="grn-item-origin" middle-click="openUrl(item.origin.url, true)">
                from <a title="{{item.origin.title}}">{{item.origin.title}}</a>
              </span>
              <ul class="grn-item-commands">
                <li><a ng-click="item.markAsRead();$event.stopPropagation();">Mark as read</a></li>
              </ul>
            </div>
          </li>
        </ul>

        <div class="grn-loading scroll-item" ng-show="reader.list.loading">
          <img src="img/loading.gif"/>
        </div>

        <div class="grn-message" ng-show="filterItems().length <= 0 && !reader.list.loading">
          No items in this list. <span ng-show="currentList != readers.all">Show <a ng-click="showList(readers.all)">all items</a> instead?</span>
        </div>
      </div>

      <div class="grn-message ng-cloak" ng-show="error">
        Error while loading this list, refresh or open <a href="https://www.google.com/reader/">Google Reader</a> instead?
      </div>
    </div>

    <div id="item-view" ng-show="view == views.item" class="ng-cloak">
      <header>
        <div class="grn-navigation btn-group">
          <button class="btn" ng-click="showPreviousItem()" ng-disabled="!currentItem.previous" title="{{currentItem.previous.getSummary()}}">
            <i class="icon-chevron-left"></i>
          </button>
          <button class="btn" ng-click="showListView()" title="list">
            <i class="icon-align-justify"></i>
          </button>
          <button class="btn" ng-click="showNextItem()" ng-disabled="!currentItem.next" title="{{currentItem.next.getSummary()}}">
            <i class="icon-chevron-right"></i>
          </button>
        </div>
        <div class="grn-info">
          <p>
            <span class="grn-star" ng-class="{'grn-starred': currentItem.starred}" ng-click="rate(currentItem)"></span>
            <a href="{{currentItem.url}}" class="grn-title" title="{{currentItem.title}}">
              {{currentItem.title}}
            </a>
          </p>
          <p>
            <span class="grn-time">{{currentItem.time | prettyDateTime}}</span> from
            <a href="{{currentItem.origin.url}}" class="grn-origin" title="{{currentItem.origin.title}}">
              {{currentItem.origin.title}}
            </a>
            <span ng-show="currentItem.author"> by {{currentItem.author}}</span>
          </p>
          <p class="grn-commands">
            <a ng-show="!currentItem.readStateLocked" ng-click="toggleKeepUnread(currentItem)">
              <i ng-class="currentItem.keptUnread | conditional:'icon-check':'icon-check-empty'"></i> Keep unread
            </a>
          </p>
        </div>
      </header>
      <div class="grn-container">
        <div class="grn-content" bind-compile-html="currentItem.content"></div>
      </div>
    </div>

  </body>
</html>