<!DOCTYPE html>
<html ng-app="Reader.popup" ng-csp="true">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="Stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel="Stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="Stylesheet" type="text/css" href="css/popup.css"/>
    <script src="js/analytics.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>
    <script src="js/options.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/popup.js"></script>
  </head>

  <body ng-controller="PopupCtrl">
    
    <div id="list-view" ng-show="view == views.list">
      <header>
        <a ng-show="currentList != lists.unread" ng-click="showList(lists.unread)">Show unread items</a>
        <a ng-show="currentList != lists.all" ng-click="showList(lists.all)">Show all items</a>
         | 
        <a ng-click="list.markAllAsRead()">Mark all as read</a>
        <a class="pull-right" href="https://www.google.com/reader/">Google Reader™</a>
      </header>
      
      <div class="grn-container ng-cloak" when-scrolled="loadMoreItems()" scroll-nice=".scroll-item">
        
        <ul class="grn-items-list">          
          <li class="grn-list-item scroll-item" ng-class="{read: item.read}" ng-repeat="item in list.items">
            <span class="grn-star" ng-class="{'grn-starred': item.starred}" ng-click="rate(item)"></span>
            <div class="grn-click-target" ng-click="showItemView($index)">
              <span class="grn-item-content" title="{{item.title}}">
                <a class="grn-item-title" middle-click="openInChrome(item);$event.stopPropagation();">{{item.title}}</a>
                {{item.snippet}}
              </span>
              <span class="grn-item-origin" middle-click="openUrl(item.origin.url, true);$event.stopPropagation();">
                <a title="{{item.origin.title}}">{{item.origin.title}}</a>
              </span>
              <ul class="grn-item-commands">
                <li><a ng-click="item.markAsRead();$event.stopPropagation();">Mark as read</a></li>
              </ul>
            </div>
          </li>          
        </ul>
        
        <div class="grn-loading scroll-item" ng-show="list.loading">
          <img src="img/loading.gif"/>  
        </div>
      </div>
      
      <div class="grn-message" ng-show="list.empty">
        No items in this list. <span ng-show="currentList != lists.all">Show <a ng-click="showList(lists.all)">all items</a> instead?</span>
      </div>
      
      <div class="grn-message" ng-show="error">
        Error while loading this list, open <a href="https://www.google.com/reader/">Google Reader</a> instead?            
      </div>
    </div>
    
    <div id="item-view" ng-show="view == views.item" class="ng-cloak">
      <header>
        <div class="grn-navigation btn-group">
          <button class="btn" ng-click="showPreviousItem()" ng-disabled="!iterator.hasPrevious()" title="{{iterator.previousDescr}}">
            <i class="icon-chevron-left"></i>
          </button>
          <button class="btn" ng-click="showListView()" title="list">
            <i class="icon-align-justify"></i>
          </button>          
          <button class="btn" ng-click="showNextItem()" ng-disabled="!iterator.hasNext()" title="{{iterator.nextDescr}}">
            <i class="icon-chevron-right"></i>
          </button>      
        </div>
        <span class="grn-star" ng-class="{'grn-starred': iterator.current.starred}" ng-click="rate(iterator.current)"></span>
        <div class="grn-info"> 
          <p>
            <a href="{{iterator.current.url}}" class="grn-title" title="{{iterator.current.title}}">
              {{iterator.current.title}}
            </a>
          </p>
          <p>
            <span class="grn-time">{{iterator.current.time | date:'MMM d, h:mm a'}}</span> by 
            <a href="{{iterator.current.origin.url}}" class="grn-origin" title="{{iterator.current.origin.title}}">
              {{iterator.current.origin.title}}
            </a>
          </p>
        </div>
      </header>
      <div class="grn-container">
        <div class="grn-content" bind-compile-html="iterator.current.content"></div>
      </div>
    </div>
  
  </body>
</html>