<!DOCTYPE html>
<html ng-app="Reader.popup" ng-csp="true">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="Stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel="Stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="Stylesheet" type="text/css" href="css/popup.css"/>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-sanitize.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="js/analytics.js"></script>
    <script src="js/options.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/popup.js"></script>
  </head>

  <body ng-controller="PopupCtrl">

    <div id="list-view" ng-show="view == views.list">

      <header>
        <a class="pull-right" href="https://www.google.com/reader/">Google Reader™</a>
        <div class="btn-toolbar grn-commands">
          <button class="btn" ng-click="refresh()" ng-disabled="reader.list.loading" title="{{reader.list.refreshTime | date:'shortTime'}}">
            <i class="icon-repeat" ng-class="{rotating: reader.list.loading}"></i>
          </button>

          <div class="btn-group">
            <button class="btn" ng-click="showList(reader == readers.all && readers.unread || readers.all)">
              <span ng-show="reader != readers.all"><i class="icon-home"></i> <span i18n-content="popup_btnAllItems">All items</span></span>
              <span ng-show="reader == readers.all"><i class="icon-flag"></i> <span i18n-content="popup_btnUnreadItems">Unread items</span></span>
            </button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-show="reader != readers.all && reader != readers.unread">
                <a ng-click="showList(readers.unread)"><i class="icon-flag"></i> <span i18n-content="popup_btnUnreadItems">Unread items</span></a>
              </li>
              <li ng-show="reader != readers.starred">
                <a ng-click="showList(readers.starred)"><i class="icon-star"></i> <span i18n-content="popup_btnStarredItems">Starred items</span></a>
              </li>
            </ul>
          </div>

          <button class="btn" ng-click="reader.list.markAllAsRead()">
            <i class="icon-ok"></i> <span i18n-content="popup_btnMarkAllAsRead">Mark all as read</span>
          </button>
        </div>

      </header>

      <div ng-hide="error" class="grn-container ng-cloak" on-load-more="loadMoreItems()" can-load-more="reader.list.canLoadMore()" scroll-nice=".scroll-item">

        <ul class="grn-items-list">
          <li class="grn-list-item scroll-item" ng-class="{read: item.read}" ng-repeat="item in filterItems()">
            <span class="grn-star" ng-class="{'grn-starred': item.starred}" ng-click="rate(item)"></span>
            <div class="grn-click-target" ng-click="showItemView(item)">
              <span class="grn-item-content" title="{{item.title}}">
                <a class="grn-item-title" href="" middle-click="openInChrome(item)">{{item.title}}</a>
                {{item.snippet}}
              </span>
              <span class="grn-item-origin" middle-click="openUrl(item.origin.url, true)" i18n-content="popup_OriginText">
                From <!--directive: i18n-substitute $1:<a title="{{item.origin.title}}">{{item.origin.title}}</a>-->                
              </span>
              <ul class="grn-item-commands">
                <li><a ng-click="item.markAsRead();$event.stopPropagation();"><span i18n-content="popup_btnMarkAsRead"></span></a></li>
              </ul>
            </div>
          </li>
        </ul>

        <div class="grn-loading scroll-item" ng-show="reader.list.loading">
          <img src="img/loading.gif"/>
        </div>

        <div class="grn-message" ng-show="filterItems().length <= 0 && !reader.list.loading">
          <span i18n-content="popup_EmptyListMsg">No items in this list.</span>
          <span i18n-content="popup_EmptyListToAllItemsMsg" ng-hide="reader == readers.all">
            Show 
            <!--directive: i18n-substitute $1:<a ng-click="showList(readers.all)">-->
            all items
            <!--directive: i18n-substitute $2:</a>-->
            instead?
          </span>
        </div>
      </div>

      <div class="grn-message ng-cloak" ng-show="error">
        Error while loading this list, refresh or open <a href="https://www.google.com/reader/">Google Reader</a> instead?
      </div>
    </div>

    <div id="item-view" ng-show="view == views.item" class="ng-cloak">
      <header>
        <div class="grn-navigation btn-group">
          <button class="btn" ng-click="showPreviousItem()" ng-disabled="!iterator.getPrevious()" title="{{iterator.getPrevious().getSummary()}}">
            <i class="icon-chevron-left"></i>
          </button>
          <button class="btn" ng-click="showListView()" title="list">
            <i class="icon-align-justify"></i>
          </button>
          <button class="btn" ng-click="showNextItem()" ng-disabled="!iterator.getNext()" title="{{iterator.getNext().getSummary()}}">
            <i class="icon-chevron-right"></i>
          </button>
        </div>
        <div class="grn-info">
          <p>
            <span class="grn-star" ng-class="{'grn-starred': iterator.current.starred}" ng-click="rate(iterator.current)"></span>
            <a href="{{iterator.current.url}}" class="grn-title" title="{{iterator.current.title}}">
              {{iterator.current.title}}
            </a>
          </p>
          <p>
            <span class="grn-time">{{iterator.current.time | prettyDateTime}}</span>
            <span class="grn-item-origin" middle-click="openUrl(item.origin.url, true)" i18n-content="popup_OriginText">
              From 
              <!--directive: i18n-substitute $1:<a href="{{iterator.current.origin.url}}" class="grn-origin" title="{{iterator.current.origin.title}}">{{iterator.current.origin.title}}</a>-->                
            </span>
            <span ng-show="iterator.current.author" i18n-content="popup_AuthorText">
              by 
              <!--directive: i18n-substitute $1:{{iterator.current.author}}-->
            </span>
          </p>
          <p class="grn-commands">
            <a ng-show="!iterator.current.readStateLocked" ng-click="toggleKeepUnread(iterator.current)">
              <i ng-class="iterator.current.keptUnread | conditional:'icon-check':'icon-check-empty'"></i> Keep unread
            </a>
          </p>
        </div>
      </header>
      <div class="grn-container" reset-scroll="iterator.current.content">
        <div class="grn-content" bind-compile-html="iterator.current.content"></div>
      </div>
    </div>

  </body>
</html>